*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import 'config/root';
@import 'config/media.scss';
@import 'config/fonts';
@import 'components/header';
@import 'components/hero';
@import 'components/logos';
@import 'components/skills';


body {
	font-family: OpenSans, sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 20px;
}


a {
	text-decoration: none;
	color: $blue;
	&:hover {
		text-decoration: underline;
	}
}











